* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 1.2;
}

/* --------------------------
   NAVBAR
--------------------------- */
.navbar {
    background: #0A0A0A;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
    transition: 0.3s;
}

.logo img:hover {
    transform: scale(0.9);
    outline: 3px solid beige;
    border-radius: 5px;
}

.side-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.side-menu li {
    min-width: 110px;
    display: flex;
    justify-content: center;
}

.side-menu a {
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.side-menu a:hover {
    transform: scale(0.9);
    outline: 3px solid beige;
    border-radius: 5px;
}

.hamburger {
    display: none;
}

/* --------------------------
   HERO SECTION
--------------------------- */
.photo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 100px 40px;
    min-height: calc(100vh - 60px);
}

.intro,
.details {
    max-width: 300px;
    text-align: center;
    color: silver;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.details h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.intro p,
.details p {
    line-height: 1.5;
    margin-bottom: 20px;
}

/* --------------------------
   SOCIAL ICONS
--------------------------- */
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 4px;
    background: rgb(161, 228, 243);
    border-radius: 6px;
    transition: 0.3s;
}


.social-links img:hover {
    transform: scale(1.1);
    background: rgb(109, 158, 169);
}


/* --------------------------
   PHOTO WITH CONIC BORDER
--------------------------- */
.photo {
    position: relative;
    display: inline-block;
    border-radius: 50px;
}

.photo img {
    width: 310px;
    height: 400px;
    border-radius: 50px;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.photo::before {
    content: "";
    position: absolute;
    inset: -14px;
    border-radius: 60px;
    background: linear-gradient(135deg,
            rgba(0, 229, 255, 0.9),
            rgba(0, 151, 167, 0.7),
            rgba(0, 77, 64, 0.6));


    filter: blur(18px);
    opacity: 0.85;
    z-index: 1;
}

.photo::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: black;
    z-index: 1;
}




/* --------------------------
   MOBILE & TABLET
--------------------------- */
@media (max-width: 1024px) {

    .navbar {
        padding: 0 20px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .hamburger span {
        width: 28px;
        height: 3px;
        background: white;
        border-radius: 3px;
    }

    .side-menu {
        position: fixed;
        top: 0;
        left: -260px;
        width: 260px;
        height: 100%;
        flex-direction: column;
        background: #0A0A0A;
        padding: 80px 20px;
        gap: 20px;
        transition: 0.3s;
        z-index: 999;
    }

    .side-menu.active {
        left: 0;
    }

    .photo-section {
        flex-direction: column;
        gap: 25px;
        padding-top: 40px;
    }

    .intro,
    .details {
        max-width: 90%;
    }

    .photo-border {
        width: 230px;
        height: 310px;
    }

    .photo img {
        width: 220px;
        height: 300px;
    }
}